<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>munch</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="text/javascript" src="javascripts/main.js"></script>
</html>

