<h3>Manage Ingredients</h3>

<button id="addNewIngredient" type="button">Add</button>
<button id="editIngredient" type="button">Edit</button>
<button id="disableIngredient" type="button">Toggle Stock</button>
<br>


<h3>Ingredients</h3>

<ol>
    {{#each ingredients}}
    <li class="ingredientList"> 
        Ingredient: {{this.name}} <br>
        Price: ${{this.price}} <br>
        In Stock: {{this.inStock}} <br>
        <br>
    </li>
    {{/each}}
</ol>


