<h3>Manage Ingredients</h3>
<form >
Name:  <input id="ingredientName" type="text" name="ingredientName" />
<br>
Price:  <input id="ingredientPrice" type="text" name="ingredientPrice" />
<br>
<button id="addNewIngredient" type="button">Add</button>
<button id="editIngredient" type="button">Edit</button>
<button id="disableIngredient" type="button">Out Of Stock</button>
</form>

<h3>Ingredients</h3>

<ol id="result">
    {{> ingredient_list }}
</ol>


