<h2>Ingredients</h2>


<h3>Add Ingredient</h3>
<form >
Name:  <input id="ingredientName" type="text" name="ingredientName" />
<br>
Price:  <input id="ingredientPrice" type="text" name="ingredientPrice" />
<br>
<button id="addNewIngredient" type="button">Add</button>
</form>

