<h2 class="centered">Pending Orders</h2>

<br>

<ul style="list-style-type:none">
    {{#each orders}}
    <li class="orderList box" style="text-align:center">
        <br> 
        {{this.name}} &#10132 {{this.ingredients}}<br>
        <input class="completeOrder" type="submit" value="Done!"><br>
        <br>
    </li>
    {{/each}}
</ul>
