<h2 id="title">Make your order!</h2>

Your Name: <input  id="customerName" type="text"><br>
<br>

<ol>
    {{#each ingredients}}
   	<input type="checkbox" class="ingredientOrder" {{#unless this.inStock}} disabled {{/unless}} name={{this.name}} value={{this.price}}> {{this.name}} | ${{this.price}}<br>
    {{/each}}
</ol>

Total: $<p id="total"></p>

<button id="makeOrder" type="submit">Good to go!</button>